h1 {

    font-family: 'Akaya Kanadaka', cursive;
color: red;
}

body {

    align-content: center;
    text-align: center;
    background-color: aqua;
}

#links {

    align-content: center;
}

p {
color: red;
    font-family: 'Akaya Kanadaka', cursive;
}

h2 {

    font-family: 'Akaya Kanadaka', cursive;
    color: red;
}

h5 {
color: red;
    font-family: 'Akaya Kanadaka', cursive;
}
